{% extends '../base/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Edit Addresses{% endblock %}

{% block content %}
<div class="col-10" style="margin:60px 60px 60px 60px;">
  <h1 class="h3">Create/Edit Address</h1>
  <div>Add a new delivery <b>address</b> and delivery preferences</div>
  <hr />
  <form name="address_form" class="account-form" method="post" enctype="multipart/form-data">
    {% if form.errors %}
    <div class="alert alert-primary" role="alert">
      Error: Please try again!
    </div>
    {% endif %}
    {% csrf_token %}
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Country</label>
      <div class="col-7">
          <input class="form-control" type="text" readonly placeholder="Nigeria"  aria-label=".form-control-lg example">
      </div>
    </div>
    <div class="mb-3">
      <div class="col-7">
      {{ form.state|as_crispy_field }}
      </div>
    </div>
    <div class="mb-3">
      <div class="col-7">
      {{ form.city|as_crispy_field }}
      </div>
    </div>
    <div class="mb-3">
    <div class="col-7">
      {{ form.address|as_crispy_field }}
    </div>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Location Price</label>
      <div class="col-7">
          <input class="form-control" type="text" readonly placeholder="Location Price"  aria-label=".form-control-lg example">
      </div>
    </div>
    <button class="btn btn-primary btn-block py-2 mb-4 mt-4 fw-bold w-100" type="button" value="Submit" onclick="submitForm()">
    Add Address
    </button>
  </form>

</div>

<script>

function submitForm() {
   var form = document.getElementsByName('address_form')[0];
   form.submit(); // Submit the form
   form.reset();  // Reset all form data
   return false; // Prevent page refresh
}
  $(document).change("#div_id_state option:selected", function(e) {
  e.preventDefault();
  $.ajax({
      type: 'GET',
      url: '{% url "accounts:get_city" %}',
      data: {
          city:$("#div_id_state option:selected").val(),
          action: 'get',
      },
      success: function(response) {
          console.log(response['city'])
          $.each(response.city,function(index,value){                    
                  var option = $('<option>');
                  option.val(value.name);
                  option.text(value.name);
                  $("#planidcontainer").css("display", "block");
                  $("#id_city").append(option);
                  
              })
      }
  });
});

</script>
{% endblock %}