{% extends "../../base/base.html" %}

{% block title %}Change Password {% endblock %}

{% block content %}
    <div>
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-md-6 bg-light">
                    <div class="login d-flex align-items-center py-5">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 col-md-12 mx-auto">
                                    <p class="text-center">Your Password Has Been Change</p>
                                    
                                </div>
                            </div>       
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-none d-md-flex bg-image">
                    
                </div>
            </div>
        </div>
    </div>
{% endblock%}