{% extends "../../base/base.html" %}

{% block head %}
{% if request.user.is_authenticated %}
    <script>
        window.location.href = '{% url "accounts:profile" %}';
    </script>
{% endif %}
{% endblock %}
{% block content %}
{% if request.user.is_authenticated %}
    <script>
        window.location.href = '{% url "accounts:dashboard" %}';
    </script>
{% endif %}
    <div>
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-md-6 bg-light">
                    <div class="login d-flex align-items-center py-5">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 col-md-12 mx-auto">
                                    <p class="text-center">Your Password Reset Email Has been sent to your Email</p>
                                </div>
                            </div>       
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-none d-md-flex bg-image">
                    
                </div>
            </div>
        </div>
    </div>
{% endblock%}